{% extends "base2.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Session</h1>

    <p><a href="{{ path('session_clear') }}">Clear the session.</a></p>

    <p>The session contains:</p>

    {{ dump(session) }}

{% endblock %}
