html {
    background: url('../images/background.jpg');
    background-size: cover;
}

header {
    height: 100px;
}

.site-title {
    color: lime;
    font-size: 2em;
    padding: 1em;
}

nav {
    background-color: blanchedalmond;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    font-size: 2em;
    margin: 0.5em;
}

main {
    background-color: blanchedalmond;
    opacity: 0.9;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    border-bottom: 4px double #ccc;
}


/** figure.css */
figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    border: 1px solid #ccc;
}

figure img {
    max-width: 100%;
}

figure figcaption {
    caption-side: bottom;
    font-style: italic;
    padding-top: 1em;
}
